# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
ts-debug.log*

# local env files
.env*.local
.env.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# hardhat
cache
artifacts
typechain-types

# contracts
contracts/artifacts
contracts/cache

# private keys - IMPORTANT: NEVER COMMIT THESE
deployment-info.json
*.key
private.txt
